<h1>{{title}}</h1>

<div id="basket">
  <h5 id="totalPrice">Итоговая цена: {{price}}</h5>
  {{#if courses.length}}
  <table class="striped">
    <thead>
      <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Действия</th>
      </tr>
    </thead>

    <tbody id="basketBody">
      {{#each courses}}
      <tr>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>{{count}}</td>
        <td>
          <button class="btn btn-small" id="deleteBtn" data-id="{{id}}">Удалить</button>
        </td>
      </tr>
      {{/each}}

    </tbody>
  </table>
  {{else}}
  <p>Карзина пуста</p>
  {{/if}}
</div>