<h1>Все курсы</h1>

{{#if courses.length}}
<div class="row">
  {{#each courses}}
  <div class="col s12 m6 ">
    <div class="card">
      <div class="card-image">
        <img src="{{url}}" alt="{{name}}">

      </div>
      <div class="card-content">
        <span class="card-title">{{name}}</span>
        <span class="card-title price">{{price}}</span>
      </div>
      <div class="card-action actions">
        <a target="_blank" href="/course/{{id}}">Открыть курс</a>
        <a href="/course/{{id}}/edit?allow=true">Изменить курс</a>
        <form action="/basket/add" method="POST">
          <input type="hidden" name="id" value="{{id}}">
          <button class="btn btn-primary btnBuyCourse" type="submit">Купить</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<p>Курсов пока нет</p>
{{/if}}